<div class="component-row">
    <div class="component-col">
        <div class="header-container">
            <h4>Manage Current Editing Cycle:</h4>
            <mat-spinner *ngIf="loadingReleaseStatus" [diameter]="17"></mat-spinner>
        </div>
        <div class="left-container">
            <div class="stage" [ngClass]="{ 'completed-stage' : (activeStage == 'Preparing release' || activeStage == 'Release ready'), 'inactive-stage' : (!activeStage), 'current-stage' : (activeStage == 'Authoring') }">
                <div class="component-col-flexible">
                    <span class="stage-title">
                        Editing
                    </span>

                    <div class="left">
                        <b>Activities in this stage</b>
                    </div>
                    <div class="sub-stage sub-stage-text">
                        <div><b>Content development</b></div>
                        <div class="sub-stage-text">
                            <div *ngIf="activeStage == 'Authoring'">Content managers are uploading content in the extension</div>
                            <div *ngIf="activeStage && activeStage != 'Authoring'">Content editing is closed</div>
                            <div *ngIf="!activeStage">Loading...</div>
                        </div>
                    </div>
                    <div class="sub-stage">
                        <div><b>Validation</b></div>
                        <div class="sub-stage-text">
                            <div *ngIf="activeStage == 'Authoring'">
                                <span *ngIf="edition.validationStatus == 'TODO'">{{ getValidationStatusInfo(edition.validationStatus) }} → <a href="javascript:void(0)" (click)="runValidation()">Run validation</a></span>
                                <span *ngIf="edition.validationStatus != 'TODO' && edition.validationStatus != 'STALE' && edition.validationStatus != 'IN_PROGRESS'">Validation has completed and is up to date</span>
                                <span *ngIf="edition.validationStatus == 'STALE'">{{ getValidationStatusInfo(edition.validationStatus) }} → <a href="javascript:void(0)" (click)="runValidation()">Run validation again</a></span>
                                <span *ngIf="edition.validationStatus == 'IN_PROGRESS'">{{ getValidationStatusInfo(edition.validationStatus) }}</span>
                            </div>
                            <div *ngIf="activeStage == 'Authoring'">
                                <div *ngIf="issuesReport && issuesReport.errorCount">Fix errors → <span class="requirements-not-met">{{ issuesReport.errorCount }} errors were detected in the last validation</span></div>
                                <div *ngIf="issuesReport && issuesReport.warningCount">Review warnings → <span class="warnings">{{ issuesReport.warningCount }} warnings were detected in the last validation</span></div>
                                <div *ngIf="issuesReport && (!issuesReport.errorCount && !issuesReport.warningCount)">No errors or warnings were deteted in the last validation</div>
                            </div>
                            <div *ngIf="activeStage && activeStage != 'Authoring'">Content editing is closed</div>
                            <div *ngIf="!activeStage">Loading...</div>
                        </div>
                    </div>
                    <div class="sub-stage">
                        <div><b>Review</b></div>
                        <div class="sub-stage-text">
                            <div *ngIf="activeStage == 'Authoring'">
                                Review content changes in Daily Build 
                                    <span *ngIf="activeStage == 'Authoring'">→ <a href="javascript:void(0)" (click)="browseToDailyBuild()">Open browser</a></span>
                            </div>
                            <div *ngIf="activeStage == 'Authoring'">
                                Download changes report 
                                    <span *ngIf="activeStage == 'Authoring'">→ <a href="javascript:void(0)" (click)="generateValidationReport()">Download XLS</a></span>
                            </div>
                            <div *ngIf="activeStage && activeStage != 'Authoring'">Content editing is closed</div>
                            <div *ngIf="!activeStage">Loading...</div>
                        </div>
                    </div>

                    <div class="centered buttons-panel">
                        <button mat-flat-button color="accent" *ngIf="activeStage == 'Authoring' && (edition.validationStatus == 'CONTENT_WARNING' || edition.validationStatus == 'COMPLETE')" (click)="startReleasePreparation()">
                            Close editing <mat-icon>lock</mat-icon>
                        </button>
                        <button mat-flat-button color="accent" *ngIf="activeStage == 'Preparing release'" (click)="stopReleasePreparation()">
                            Reopen editing <mat-icon>lock_open</mat-icon>
                        </button>
                        <button mat-flat-button color="accent" disabled *ngIf="(!loadingReleaseStatus && activeStage && activeStage != 'Authoring' && activeStage != 'Preparing release')">
                            Editing closed <mat-icon>lock</mat-icon>
                        </button>
                        <button mat-flat-button color="warn" disabled *ngIf="activeStage == 'Authoring' && edition.validationStatus == 'CONTENT_ERROR'">
                            Fix errors to close editing
                        </button>
                        <button mat-flat-button disabled *ngIf="!activeStage">
                            Loading...
                        </button>
                        <button mat-flat-button disabled *ngIf="activeStage == 'Authoring' && edition.validationStatus == 'IN_PROGRESS'">
                            Validation running...
                        </button>
                        <button mat-flat-button disabled *ngIf="activeStage == 'Authoring' && edition.validationStatus == 'SYSTEM_ERROR'">
                            System error, contact support
                        </button>
                        <button mat-flat-button disabled *ngIf="activeStage == 'Authoring' && (edition.validationStatus == 'TODO' || edition.validationStatus == 'STALE')">
                            Run validation to progress
                        </button>
                    </div>
                </div>
                <mat-icon class="completed-icon" 
                        *ngIf="(activeStage == 'Preparing release' || activeStage == 'Release ready')">
                        check_circle
                </mat-icon>
            </div>
            <div class="arrow-down"></div>

            <div class="stage" [ngClass]="{ 'completed-stage' : (activeStage == 'Release ready'), 'inactive-stage' : (activeStage == 'Authoring' || !activeStage), 'current-stage' : (activeStage == 'Preparing release') }">
                <div class="component-col-flexible left">
                    <span class="stage-title">Preparing release</span>

                    <div class="left">
                        <b>Activities in this stage</b>
                    </div>
                    <div class="sub-stage sub-stage-text" *ngIf="edition.validationStatus != 'COMPLETE'">
                        <div><b>Validation</b></div>
                        <div *ngIf="activeStage == 'Preparing release'">
                            <div *ngIf="edition.validationStatus != 'CONTENT_WARNING'">Status error ({{ edition.validationStatus }}), reopen editing and run validation again</div>
                            <div *ngIf="edition.validationStatus == 'CONTENT_WARNING'" class="warnings">{{ getValidationStatusInfo(edition.validationStatus) }}</div>
                        </div>
                        <div *ngIf="activeStage && activeStage == 'Authoring'">Release preparation not started</div>
                        <div *ngIf="activeStage && activeStage == 'Release ready'">Release preparation finished</div>
                        <div *ngIf="!activeStage">Loading...</div>
                    </div>
                    <div class="sub-stage sub-stage-text">
                        <div><b>Final content review</b></div>
                        <div  *ngIf="activeStage == 'Preparing release'">
                            <div>Review changes in Daily Build 
                                <span>→ <a href="javascript:void(0)" (click)="browseToDailyBuild()">Open browser</a></span>
                            </div>
                            <div>Download changes report 
                                <span>→ <a href="javascript:void(0)" (click)="generateValidationReport()">Download XLS</a></span>
                            </div>
                        </div>
                        <div *ngIf="activeStage && activeStage == 'Authoring'">Release preparation not started</div>
                        <div *ngIf="activeStage && activeStage == 'Release ready'">Release preparation finished</div>
                        <div *ngIf="!activeStage">Loading...</div>
                    </div>
                    <div class="centered buttons-panel">
                        <button mat-flat-button color="accent" *ngIf="(edition.validationStatus == 'COMPLETE' || edition.validationStatus == 'CONTENT_WARNING') && edition.classificationStatus == 'COMPLETE'; else noAction" 
                                (click)="startReleasePreparation()">
                            Approve content changes <mat-icon>check</mat-icon>
                        </button>
                        <ng-template #noAction>
                            <button mat-flat-button color="warn" disabled *ngIf="activeStage && activeStage == 'Preparing release'">
                                Clean validation results to approve content
                            </button>
                        </ng-template>
                        <button mat-flat-button disabled *ngIf="!activeStage">
                            Loading...
                        </button>
                        <button mat-flat-button disabled *ngIf="activeStage && activeStage == 'Authoring'">
                            Approve content changes <mat-icon>check</mat-icon>
                        </button>
                        <button mat-flat-button disabled *ngIf="activeStage && activeStage == 'Release ready'">
                            Release preparation finished
                        </button>
                    </div>
                
                </div>
                <mat-icon class="completed-icon" 
                    *ngIf="activeStage == 'Release ready'">
                    check_circle
                </mat-icon>
            </div>
            <div class="component-row">
                <div class="arrow-down"></div>
            </div>

            <div class="stage" [ngClass]="{ 'current-stage' : (activeStage == 'Release ready'),
                                                 'inactive-stage' : (activeStage != 'Release ready') }">
                <div class="component-col-flexible centered">
                    <span class="stage-title">Release ready for publication</span>
                    <br>
                    <button mat-flat-button color="accent" [disabled]="activeStage != 'Release ready'">Publish and complete release cycle</button>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="component-col">
        <app-validation-results class="validation-container" [edition]="edition.shortName" [editionDetails]="edition" [issues]="issuesReport" *ngIf="issuesReport && (issuesReport.errorCount || issuesReport.warningCount)">
            <!-- [edition]="edition.shortName" *ngIf="(edition.validationStatus == 'CONTENT_ERROR' || edition.validationStatus == 'CONTENT_WARNING')" -->
        </app-validation-results>
        <!-- <h4>Next steps:</h4>
        <h5>Current Status: Classification Completed</h5>
        <p>The edition was classified correctly. <br>
            To progress to the next phase run the validation process and fix any remainig errors.</p> -->
        <h4 *ngIf="jobs.length">Jobs</h4>
        <mat-list id="components-list">
            <mat-list-item *ngFor="let item of jobs">
                <span class="release-name">{{ item.display }}</span>
                <!-- <mat-spinner *ngIf="item.status == 'IN_PROGRESS'" [diameter]="12"></mat-spinner> -->
                <span class="pill pill-green">{{ item.status }}</span>
                <span class="pill pill-blue">{{ item.jobType }}</span>
                <span class="muted">Created on {{ item.created | timeAgo }}</span>
                <!-- <button mat-button color="accent" class="download">Download</button> -->
            </mat-list-item>
        </mat-list>
    </div>
</div>
