<div class="component-row">
    <div class="component-col">
        <div class="header-container">
            <h4>Manage Current Authoring Cycle:</h4>
            <mat-spinner *ngIf="loadingReleaseStatus" [diameter]="17"></mat-spinner>
        </div>
        <div class="component-container">
            <div class="stage-name" [ngClass]="{ 'completed-stage' : (activeStage == 'Content Cut-off' || activeStage == 'Classification Completed' || activeStage == 'Validation Completed' || activeStage == 'Review validation results'), 
                                                 'current-stage' : (activeStage == 'Authoring') }">
                    <div class="component-col centered">
                        <span class="stage-title">Authoring</span>
                        <button mat-button color="accent" *ngIf="activeStage != 'Authoring'" (click)="stopReleasePreparation()">
                            CANCEL RELEASE AND GO BACK TO AUTHORING
                        </button>
                        <button mat-button color="accent" *ngIf="activeStage == 'Authoring'" (click)="startReleasePreparation()">
                            COMPLETE AUTHORING
                        </button>
                    </div>
                    <mat-icon class="completed-icon" 
                        *ngIf="activeStage == 'Content Cut-off' || activeStage == 'Classification Completed' || activeStage == 'Validation Completed' || activeStage == 'Review validation results'">
                        check_circle
                    </mat-icon>
            </div>
            <div class="arrow-down"></div>

            
            <div class="stage-name" [ngClass]="{ 'completed-stage' : (activeStage == 'Classification Completed' || activeStage == 'Validation Completed' || activeStage == 'Review validation results'), 
                                                 'current-stage' : (activeStage == 'Content Cut-off') }">
                <div class="component-col centered">
                    <span class="stage-title">Release Preparation - Classification</span>
                    <button mat-button color="accent" (click)="runClassification()" *ngIf="(edition.classificationStatus == 'TODO' || edition.classificationStatus == 'ERROR')"
                        [disabled]="activeStage != 'Content Cut-off' || loadingReleaseStatus">
                            RUN CLASSIFICATION
                    </button>
                    <button mat-button color="accent" *ngIf="edition.classificationStatus == 'COMPLETE'" [disabled]="true">
                        CLASSIFICATION SUCCESSFUL
                    </button>
                    <button mat-button color="accent" *ngIf="edition.classificationStatus == 'IN_PROGRESS'">
                        <span class="in-progress-button">CLASSIFICATION IN PROGRESS <mat-spinner class="white-spinner" [diameter]="17"></mat-spinner></span>
                    </button>
                    <p class="error-message" *ngIf="edition.classificationStatus == 'ERROR'">
                        * The classification process did not complete as expected. Please try again. If this issue does not resolve itself please contact technical support.
                    </p>
                    <button mat-button color="accent"  [disabled]="true" *ngIf="!edition.classificationStatus">
                        <mat-spinner [diameter]="17"></mat-spinner>
                    </button>
                </div>
                <mat-icon class="completed-icon" 
                    *ngIf="activeStage == 'Classification Completed' || activeStage == 'Validation Completed' || activeStage == 'Review validation results'">
                    check_circle
                </mat-icon>
            </div>
            <div class="arrow-down"></div>
                

            <div class="stage-name" [ngClass]="{ 'completed-stage' : (activeStage == 'Validation Completed' || activeStage == 'Review validation results'), 
                                                 'current-stage' : (activeStage == 'Classification Completed') }">
                <div class="component-col centered">
                    <span class="stage-title">
                        Release preparation - Validation
                    </span>
                    <button mat-button color="accent" (click)="runValidation()" *ngIf="(edition.validationStatus == 'TODO' || edition.validationStatus == 'ERROR')"
                        [disabled]="activeStage != 'Classification Completed' || loadingReleaseStatus">
                        RUN VALIDATION
                    </button>
                    <button mat-button color="accent" (click)="downloadValidationResults()" *ngIf="edition.validationStatus == 'CONTENT_ERROR'">
                        VALIDATION RESULT: ERRORS FOUND (REVIEW)
                    </button>
                    <button mat-button color="accent" *ngIf="edition.validationStatus == 'COMPLETE'" [disabled]="true">
                        VALIDATION COMPLETE
                    </button>
                    <button mat-button color="accent" *ngIf="edition.validationStatus == 'IN_PROGRESS'">
                        <span class="in-progress-button">VALIDATION IN PROGRESS <mat-spinner class="white-spinner" [diameter]="17"></mat-spinner></span>
                    </button>
                    <p class="error-message" *ngIf="edition.validationStatus == 'ERROR'">
                        * The validation process did not complete as expected. Please try again. If this issue does not resolve itself please contact technical support.
                    </p>
                    <button mat-button color="accent"  [disabled]="true" *ngIf="!edition.validationStatus">
                        <mat-spinner [diameter]="17"></mat-spinner>
                    </button>
                </div>
                
                <mat-icon class="completed-icon" 
                    *ngIf="activeStage == 'Validation Completed' || activeStage == 'Review validation results'">
                    check_circle
                </mat-icon>
            </div>

            <div class="component-row">
                <div class="arrow-down"></div>
            </div>

            <!-- <div class="stage-name" [ngClass]="{ 'completed-stage' : false, 
                                                 'current-stage' : (activeStage == 'Validation Completed') }"
                *ngIf="activeStage == 'Validation Completed'">
                <div class="component-col centered">
                    <span class="stage-title">Validation Complete</span>
                </div>
                <mat-icon class="completed-icon" 
                    *ngIf="false">
                    check_circle
                </mat-icon>
            </div>

            <div class="stage-name" [ngClass]="{ 'completed-stage' : false, 
                                                 'current-stage' : (activeStage == 'Review validation results') }"
                *ngIf="activeStage != 'Validation Completed'">
                <div class="component-col centered">
                    <span class="stage-title">Review and fix validation errors</span>
                    <button mat-button color="accent" [disabled]="activeStage != 'Validation Completed' || loadingReleaseStatus">REVIEW RELEASE IN THE BROWSER</button>
                </div>
                <mat-icon class="completed-icon" 
                    *ngIf="false">
                    check_circle
                </mat-icon>
            </div> -->

            <!-- <div class="component-row">
                <div class="arrow-down"></div>
            </div> -->

            <div class="stage-name">
                <div class="component-col centered">
                    <span class="stage-title">Release ready for publication</span>
                    <button mat-button color="accent" [disabled]="activeStage != 'Validation Completed' || loadingReleaseStatus">PUBLISH AND COMPLETE RELEASE CYCLE</button>
                </div>
                <!-- <mat-icon>check_circle</mat-icon> -->
            </div>

            <!-- <div class="component-row">
                <div class="arrow-down"></div>
            </div> -->
        </div>
        <!-- <div class="component-container">
            <h4>Utilities</h4>
            <button mat-flat-button color="accent" disabled>DAILY BUILD BROWSER</button>
            <button mat-flat-button color="accent" (click)="exportSnapshot()">EXPORT PREVIEW RF2 SNAPSHOT</button>
            <button mat-flat-button color="accent" (click)="exportDelta()">EXPORT PREVIEW RF2 DELTA</button>
        </div> -->
    </div>
    <div class="component-col">
        <div class="right-container">
            <app-validation-results class="validation-container"
                [edition]="edition.shortName" *ngIf="activeStage == 'Review validation results'">
            </app-validation-results>
            <!-- <h4>Next steps:</h4>
            <h5>Current Status: Classification Completed</h5>
            <p>The edition was classified correctly. <br>
                To progress to the next phase run the validation process and fix any remainig errors.</p> -->
            <h4 *ngIf="jobs.length">Jobs</h4>
            <mat-list id="components-list">
                <mat-list-item *ngFor="let item of jobs">
                    <span class="release-name">{{ item.display }}</span>
                    <span class="pill pill-green">{{ item.status }}</span>
                    <span class="pill pill-blue">{{ item.jobType }}</span>
                    <span class="muted">Created on {{ item.created | timeAgo }}</span>
                    <!-- <button mat-button color="accent" class="download">Download</button> -->
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>
