button  {
    width: 40rem;
}

.component-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;

}
    
.component-col {
  flex: 1 1 50%; /* flex-grow, flex-shrink, and flex-basis set */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 10px;
  max-width: 50%; /* Prevents it from exceeding 50% */
}

.component-col-flexible {
  flex: 1; /* flex-grow, flex-shrink, and flex-basis set */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 10px;
}

mat-list-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); // Change the rgba values for different shades
}

.pill {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px; // Gives it the "pill" shape
    font-size: 0.9rem;   // Adjust as needed
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin-right: 2rem; /* space out the pills and the muted text */
    margin-left: 2rem;
  
    &-green {
      background-color: #4CAF50; // Adjust to your preferred green
      color: #FFFFFF;            // Adjust text color if needed
    }
  
    &-yellow {
      background-color: #FFEB3B; // Adjust to your preferred yellow
      color: #333333;            // Adjust text color if needed
    }
  
    &-blue {
      background-color: #2196F3; // Adjust to your preferred blue
      color: #FFFFFF;            // Adjust text color if needed
    }
  }

  .muted {
    color: rgba(89, 87, 87, 0.5);
    font-style: italic;
  }

#components-list {
    max-height: calc(100vh - 240px);
    overflow-y: auto;
    margin-bottom: 2rem;
    width: 90%;
}

/* styles.css or styles.scss */

mat-list-item {
    display: flex;
    align-items: center; /* vertically aligns children in the middle */
    justify-content: space-between; /* Optional: space out items */
  }
  
  .download {
    float: right;
    width: 10rem;
  }

  .release-name {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .error-message {
    color: red;
    margin: 5px;
    font-style: italic;
    width: 40rem;
  }

  .in-progress-button {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  ::ng-deep .white-spinner .mdc-circular-progress__indeterminate-circle-graphic circle {
    stroke: white !important;
  }
  
  app-timeline {
    width: 100%;
  }

  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #585353;
  }

  .stage {
    background-color: #E6E9EE;
    color: #000000;
    margin-right: 10px; /* Adjust space between name and description */
    border-radius: 25px;
    padding: 1rem;
    width: 90%;
    text-align: center;
    display: flex;
    align-items: center; /* This vertically aligns the icon with the text */
    justify-content: space-between;
  }

  .sub-stage {
    margin-right: 10px; /* Adjust space between name and description */
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    text-align: start;
    display: flex;
    align-items: center; /* This vertically aligns the icon with the text */
    justify-content: space-between;
    border: solid 2px #b8c8ba;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
  }

  .current-stage .sub-stage {
    background-color: #dae6d1;
  }

  .sub-stage div:first-child {
      flex: 0 0 33%; /* Fix the first div's width to 33% */
  }

  .sub-stage div:not(:first-child) {
      flex: 1; /* Make the other divs take up the remaining space */
  }


  .sub-stage-text {
    font-size: 1.2rem !important;
  }

  .completed-stage {
    background-color: #E6E9EE;
    color: grey;
  }

  .current-stage {
    background-color: #E6E9EE;
    border: solid 2px #9cd6c3;
  }

  .inactive-stage {
    color: grey !important;
  }


  .completed-icon {
    color: #6DBBA1;
  }

  .errors-icon {
    color: #CE0037;
  }

  .header-container {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: left; /* Centers the content horizontally */
    gap: 8px; /* Adjusts the space between the text and spinner */
    margin-top: 2rem;
    margin-left: 4rem;
  }
  
  h4 {
    margin: 0; /* Removes default margin to allow for better centering */
  }

  .validation-container {
    width: 100%;
  }

  .left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    overflow: hidden;
    padding: 1rem;
}
  
  .right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns children to the left */
    justify-content: flex-start; /* Aligns children to the top */
    gap: 1rem;
    margin-top: 2rem;
    margin-right: 2rem;
    overflow: hidden;
    padding: 1rem;
}

.stage-title {
  flex-grow: 1; 
  text-align: center;
  font-size: large;
}

.centered {
  align-items: center;
}

.buttons-panel {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.left {
  text-align: left;
  // margin-left: 3rem;
  // margin-right: 3rem;
}

.aligned-p {
  display: flex;
  align-items: center;
}

.aligned-p mat-icon {
  margin-left: 8px; /* Adds space to the left of the icon */
  cursor: pointer;  /* Changes cursor to pointer for interactive feel */
}

.requirements-not-met {
  color: rgb(231, 103, 103);
  font-style: italic;
}

.warnings {
  color: rgb(151, 105, 5);
  font-style: italic;
}

.ok-message {
  color: rgb(0, 128, 0);
  font-style: italic;
}