<h4>Subsets</h4>
<div class="component-row">
    <div class="component-col">
        <div>
            <mat-list id="subset-list">
                <mat-list-item *ngIf="loading"><mat-spinner [diameter]="20"></mat-spinner></mat-list-item>
                <mat-list-item *ngFor="let item of subsets" (click)="onClick(item)" class="hoverable-item" matRipple
                [ngClass]="{ 'selected': item.conceptId === selectedSubset?.conceptId }">
                    {{ item.fsn.term }}
                </mat-list-item>
            </mat-list>
            <button mat-flat-button color="primary" (click)="newSubsetMode = true" *ngIf="!loading">New Subset</button>
        </div>
    </div>
    <div class="component-col">
        <div *ngIf="!newSubsetMode && selectedSubset">
            <h3>Details of: {{ selectedSubset?.fsn.term }}</h3>
            <br><br>
            <div class="component-row" *ngFor="let field of subsetFields">
                <div class="component-col align-right">
                    <span class="details-field-name">{{ field | camelToTitle }}</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">{{ selectedSubset[field] }}</span>
                </div>
            </div>
        </div>
        <div *ngIf="newSubsetMode">
            <h4>New Subset</h4>
            <br><br>
            <form [formGroup]="form">
                <mat-form-field *ngFor="let controlName of formKeys">
                    <mat-label>{{controlName}}</mat-label>
                    <input matInput formControlName="{{controlName}}">
                    <button *ngIf="form.controls[controlName]['value']" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls[controlName].setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="form.controls[controlName]['hasError']('required')">{{controlName}} is required</mat-error>
                </mat-form-field>
            </form>
            <div>
                <button mat-flat-button (click)="newSubsetMode = false" *ngIf="!saving">Cancel</button>
                <button mat-flat-button color="accent" (click)="submit()" *ngIf="!saving">Create</button>
                <p *ngIf="saving" class="saving"><mat-spinner [diameter]="20"></mat-spinner>&nbsp;&nbsp;Creating subset...</p>
              </div>
        </div>
    </div>
</div>
