<div class="component-col">
    <div *ngIf="!edition || !edition.editionStatus || loadingUpgrades">Loading...</div>
    <div *ngIf="edition">
        <div *ngIf="edition && edition.editionStatus && !loadingUpgrades">
            <div>
                Parent edition → {{ parentEdition?.name }}, {{ edition.dependantVersionEffectiveTime }}
            </div>
            <div *ngIf="availableUpgrades.length == 0 && edition.editionStatus != 'MAINTENANCE'">
                No newer versions available
            </div>
            <div *ngIf="edition.editionStatus == 'MAINTENANCE'">
                Maintenance mode
          </div>
            <div *ngIf="availableUpgrades.length > 0 && edition.editionStatus == 'AUTHORING'">
              <!-- Link that opens the menu -->
              <a href="#" [matMenuTriggerFor]="menu" (click)="$event.preventDefault()">
                {{ selectedUpgradeEdition?.effectiveDate ? 'New dependency: ' + selectedUpgradeEdition?.effectiveDate : 'New dependency versions available' }}
              </a>
          
              <!-- Menu with upgrade options -->
              <mat-menu #menu="matMenu">
                <button mat-menu-item 
                        *ngFor="let upgrade of availableUpgrades" 
                        (click)="onUpgradeSelect(upgrade)">
                  {{ upgrade.effectiveDate }} version
                </button>
              </mat-menu>
          
              <!-- Message and action button -->
              <span *ngIf="selectedUpgradeEdition && !upgradeRequested">
                &nbsp;→&nbsp;
                <a href="javascript:void(0)" (click)="upgradeEdition()">
                    Run dependency upgrade
                </a>
              </span>
              <span *ngIf="upgradeRequested">
                &nbsp;→&nbsp;
                Upgrade requested
              </span>
              
            </div>
            <!-- <div *ngIf="availableUpgrades.length > 0 && edition.editionStatus != 'AUTHORING'">
                New dependency versions available
            </div> -->
        </div>
    </div>
  </div>
  