<div class="layout">
  <div class="column left-column">
    <div class="row">
      <img class="snomed-logo" src="/assets/SNOMED_Logo_2022.jpg" alt="SNOMED Logo" />
    </div>
    <div class="row centered">
      <img class= "simplex-logo" src="/assets/simplex-logo.svg" alt="Simplex Logo" />
      <p class="p-centered">For managing simple SNOMED CT extensions</p>
    </div>
  </div>
  <div class="column right-column">
   <button mat-flat-button color="accent" (click)="closeWelcome()">Log in</button>
   <br>
   <a href="https://docs.google.com/forms/d/e/1FAIpQLScFOkE35Do3k02NC6Lidfq1ft91V8XSKpCieIYKbgebLjzKfw/viewform" target="_blank">New user? Request a Simplex account...</a>
   <br><br><br><br><br><br><br><br><br>
   <a mat-flat-button href="https://implementation.snomed.org/simplex" target="_blank">About Simplex</a>
   <br><br>
   <a mat-flat-button href="https://conf.spaces.snomed.org/wiki/spaces/SIMPLEXUG/" target="_blank">Simplex User Guide</a>
   <br><br>
   <a mat-flat-button href="https://forums.snomed.org/c/groups/simplex-ug/" target="_blank">Simplex User Forum</a>
  </div>
</div>
