<div class="layout">
  <div class="column left-column">
    <div class="row">
      <img class="snomed-logo" src="/assets/SNOMED_Logo_2022.jpg" alt="SNOMED Logo" />
    </div>
    <div class="row centered">
      <img class= "simplex-logo" src="/assets/simplex-logo.svg" alt="Simplex Logo" />
      <p class="p-centered">A Manager App for simple SNOMED CT Editions</p>
    </div>
  </div>
  <div class="column right-column">
   <button mat-flat-button color="accent" (click)="closeWelcome()">Log in</button>
   <br>
   <a href="https://confluence.ihtsdotools.org/display/SIMPLEXUG/Simple+Extension+%28Simplex%29+Tool+User+Guide" target="_blank">New user? Request a Simplex account...</a>
   <br><br><br><br><br><br><br><br><br>
   <a mat-flat-button href="https://www.implementation.snomed.org/simplex" target="_blank">About Simplex</a>
   <br><br>
   <a mat-flat-button href="https://confluence.ihtsdotools.org/display/SIMPLEXUG/Simple+Extension+%28Simplex%29+Tool+User+Guide" target="_blank">Simplex User Guide</a>
  </div>
</div>
