.validation-container {
  /* margin: 20px; */
  margin-top: 2rem;
  width: 100%;
}

mat-expansion-panel {
  z-index: auto !important;
  box-shadow: none !important; /* Remove shadow */
}

mat-expansion-panel-header {
  z-index: auto !important;
}

.mat-expansion-panel {
  z-index: auto !important;
  box-shadow: none !important; /* Remove shadow for Material Design elevation */
}



.aligned-p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.warning {
  color: #ffcc00;
}

.error {
  color: #ff0000;
}

div.validation-container {
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

::ng-deep .mat-mdc-list-item-unscoped-content {
  white-space: normal;
  word-wrap: break-word;
}

.small {
  font-size: 1.1rem;
}

.elevated {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

