.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    margin: 20px 0;
    padding: 1rem;
}

.component-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-height: calc(100vh - 190px);
}
    
.component-col {
    flex: 1;
    margin: 0 10px;
}
    
.component-col-left {
    flex: 2;
    margin: 0 10px;
}
.component-col-right {
    flex: 3;
    margin: 0 10px;
    padding-bottom: 20px;
}