<div class="main-container" *ngIf="!selectedEdition">
    <div class="waiting">
        Waiting for edition information
        <mat-spinner [diameter]="20"></mat-spinner>
    </div>
</div>
<div class="main-container" *ngIf="selectedEdition">
    <div class="component-row">
        <div class="component-col-left">
            <h1>Translation Dashboard</h1>
            <h4>Translation Sets</h4>
            <mat-list id="components-list">
                <div *ngIf="showSkeleton">
                    <!-- Repeat this block for as many skeleton items as you want -->
                    <div class="skeleton-loader">
                        <div class="skeleton-text"></div>
                        <div class="skeleton-text"></div>
                        <div class="skeleton-text"></div>
                        <div class="skeleton-text"></div>
                        <div class="skeleton-text"></div>
                        <div class="skeleton-text"></div>
                        <!-- <div class="skeleton-button"></div> -->
                    </div>
                </div>
                <!-- Actual List Items -->
                <ng-container *ngIf="!showSkeleton">
                    <mat-list-item class="hoverable-item" matRipple *ngFor="let set of labelSets"
                    (click)="selectSet(set)"
                    [ngClass]="{ 'selected': set.id === selectedLabelSet?.id }">
                        {{ set.name }}
                        <span class="pill pill-blue">{{ set.translationName }}</span>
                        <mat-icon *ngIf="set.status === 'PROCESSING'" 
                                 matTooltip="Status: {{ set.status }}&#10;{{ set.percentageProcessed }}% complete" 
                                 matTooltipClass="multiline-tooltip"
                                 class="processing-icon">schedule</mat-icon>
                        <mat-icon *ngIf="set.status === 'FAILED'" 
                                matTooltip="Status: {{ set.status }}"
                                class="processing-icon">error</mat-icon>
                        <span *ngIf="set.size" class="artifact-info">{{ set.size }} concepts</span>
                        <mat-progress-bar *ngIf="set.status === 'PROCESSING' && set.percentageProcessed !== undefined"
                                         [value]="set.percentageProcessed"
                                         class="processing-progress-bar"></mat-progress-bar>
                    </mat-list-item>
                    <div class="button-container">
                        <button mat-flat-button color="primary" (click)="setMode('create')">
                            Create new set
                        </button>
                    </div>
                </ng-container>
            </mat-list>
        </div>
        <div class="component-col-right" *ngIf="mode == 'view'">
            <div *ngIf="!selectedLabelSet"  class="waiting-panel">
                <img src="/assets/artifact.png">
            </div>
            <div *ngIf="selectedLabelSet" class="details-panel">
                <div class="title-container">
                    <div class="title-left-column">
                        <h2>{{ selectedLabelSet.name }}</h2>
                    </div>
                </div>
    
                <br><br>
                <div>
                    <div class="component-row">
                        <div class="component-col align-right">
                            <span class="details-field-name">Status</span>
                        </div>
                        <div class="component-col">
                            <span class="details-field-value">{{ selectedLabelSet.status }}</span>
                        </div>
                    </div>
                    <div class="component-row">
                        <div class="component-col align-right">
                            <span class="details-field-name">Translation</span>
                        </div>
                        <div class="component-col">
                            <span class="details-field-value">{{ selectedLabelSet.translationName }}</span>
                        </div>
                    </div>
                    <div class="component-row">
                        <div class="component-col align-right">
                            <span class="details-field-name">Language Code</span>
                        </div>
                        <div class="component-col">
                            <span class="details-field-value">{{ selectedLabelSet.languageCode }}</span>
                        </div>
                    </div>
                    <div class="component-row" *ngIf="selectedLabelSet.size">
                        <div class="component-col align-right">
                            <span class="details-field-name">Count of Selected Concepts</span>
                        </div>
                        <div class="component-col">
                            <span class="details-field-value">{{ selectedLabelSet.size }}</span>
                        </div>
                    </div>
                    <div class="component-row" *ngIf="selectedLabelSet.size">
                        <div class="component-col align-right">
                            <span class="details-field-name">Count of Translated Concepts</span>
                        </div>
                        <div class="component-col">
                            <mat-spinner *ngIf="loadingLabelSetDetails" [diameter]="16" class="inline-spinner"></mat-spinner>
                            <span *ngIf="!loadingLabelSetDetails" class="details-field-value">
                                {{ selectedLabelSet.translated }} ({{ (selectedLabelSet.translated / selectedLabelSet.size * 100) | number:'1.0-1' }}%)
                            </span>
                        </div>
                    </div>
                </div>
                <br><br>
                <div>
                    <button mat-flat-button color="primary" *ngIf="selectedLabelSet.status === 'READY'"
                            (click)="openWeblateUrl(selectedLabelSet.weblateLabelUrl)">
                        Open Set in Weblate
                    </button>
                </div>
                <br><br>
                <div class="centered-button-container">
                    <button mat-flat-button color="primary" (click)="pullFromWeblate()">
                        Pull new translations from Weblate
                    </button>
                    <button mat-flat-button color="warn" (click)="deleteTranslationSet()" [disabled]="deleting">
                        <mat-spinner *ngIf="deleting" [diameter]="16" class="button-spinner"></mat-spinner>
                        <span *ngIf="!deleting">Delete Set</span>
                        <span *ngIf="deleting">Deleting...</span>
                    </button>
                </div>
                <div class="centered-button-container">
                    <h4>Not implemented:</h4>
                    <button mat-flat-button color="primary" disabled>
                        Push to Weblate
                    </button>
                    <button mat-flat-button color="primary" disabled>
                        Assign Set to Users
                    </button>
                    <button mat-flat-button color="primary" disabled>
                        Edit Set
                    </button>
                </div>
                <br><br>
                <h3>Translation Set Members</h3>
                <mat-list id="members-list" class="sk-width">
                    <div *ngIf="loadingLabelSetMembers">
                        <!-- Repeat this block for as many skeleton items as you want -->
                        <div class="skeleton-loader">
                            <div class="skeleton-text"></div>
                            <div class="skeleton-text"></div>
                            <div class="skeleton-text"></div>
                            <div class="skeleton-text"></div>
                            <div class="skeleton-text"></div>
                            <div class="skeleton-text"></div>
                            <!-- <div class="skeleton-button"></div> -->
                        </div>
                    </div>
                    <!-- Actual Table Items -->
                    <ng-container *ngIf="!loadingLabelSetMembers">
                        <table mat-table [dataSource]="selectedLabelSetMembers" class="translation-table">
                            <!-- Concept Column -->
                            <ng-container matColumnDef="concept">
                                <th mat-header-cell *matHeaderCellDef>Concept</th>
                                <td mat-cell *matCellDef="let unit">
                                    <i>{{ unit.context }} |{{ unit.source }}|</i>
                                </td>
                            </ng-container>
                            
                            <!-- Translation Column -->
                            <ng-container matColumnDef="translation">
                                <th mat-header-cell *matHeaderCellDef>Translation</th>
                                <td mat-cell *matCellDef="let unit">
                                    {{ unit.target }}
                                </td>
                            </ng-container>
                            
                            <tr mat-header-row *matHeaderRowDef="['concept', 'translation']"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['concept', 'translation'];"></tr>
                        </table>
                    </ng-container>
                </mat-list>
            </div>
        </div>
        <div class="component-col-right" *ngIf="mode == 'create'">
            <h4>New Translation Set</h4>
            <br><br>
            <form [formGroup]="form" (keydown.enter)="$event.preventDefault(); submit()">
                <!-- Name Field -->
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                    <button *ngIf="form.get('name')?.value" matSuffix 
                        mat-icon-button aria-label="Clear" (click)="form.get('name')?.setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="form.get('name')?.hasError('required')">Name is required</mat-error>
                </mat-form-field>

                <!-- Translation Selection -->
                <mat-form-field>
                    <mat-label>Translation</mat-label>
                    <mat-select formControlName="translation">
                        <mat-option *ngFor="let translation of translations" 
                                   [value]="translation.id"
                                   [disabled]="!translation.isWeblate">
                            {{translation.pt.term}}{{!translation.isWeblate ? ' (Not linked to Weblate)' : ''}}
                        </mat-option>
                    </mat-select>
                    <mat-spinner *ngIf="loadingTranslations" matSuffix [diameter]="20"></mat-spinner>
                    <mat-error *ngIf="form.get('translation')?.hasError('required')">Translation is required</mat-error>
                </mat-form-field>

                <!-- Label Field -->
                <mat-form-field>
                    <mat-label>Label (computed from name)</mat-label>
                    <input matInput formControlName="label" readonly>
                    <mat-icon matSuffix>auto_fix_high</mat-icon>
                    <mat-error *ngIf="form.get('label')?.hasError('required')">Label is required</mat-error>
                </mat-form-field>

                <!-- ECL Input Method Selection -->
                <div class="ecl-input-section">
                    <h4>ECL Input Method</h4>
                    <mat-radio-group [(ngModel)]="eclInputMethod" (change)="onEclInputMethodChange()" [ngModelOptions]="{standalone: true}">
                        <mat-radio-button value="manual">Manual ECL Input</mat-radio-button>
                        <mat-radio-button value="refset">Select from a Refset in this Extension</mat-radio-button>
                        <mat-radio-button value="derivative">Select from a SNOMED CT Derivative</mat-radio-button>
                        <mat-radio-button value="subtype" 
                                         [disabled]="!selectedEdition?.branchPath"
                                         [matTooltip]="!selectedEdition?.branchPath ? 'Branch path not available. Please ensure an edition is selected.' : ''">
                            Select from SNOMED CT Sub Types
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <!-- Manual ECL Field -->
                <mat-form-field *ngIf="eclInputMethod === 'manual'">
                    <mat-label>ECL</mat-label>
                    <input matInput formControlName="ecl">
                    <button *ngIf="form.get('ecl')?.value" matSuffix 
                        mat-icon-button aria-label="Clear" (click)="form.get('ecl')?.setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="form.get('ecl')?.hasError('required')">ECL is required</mat-error>
                </mat-form-field>

                <!-- Refset Selection -->
                <mat-form-field *ngIf="eclInputMethod === 'refset'">
                    <mat-label>Select Refset</mat-label>
                    <mat-select (selectionChange)="onRefsetSelectionChange($event.value)" [value]="selectedRefsetCode" [disabled]="loadingRefsets">
                        <mat-option *ngFor="let refset of refsets" [value]="refset.code">
                            {{ refset.display }} ({{ refset.code }})
                        </mat-option>
                        <mat-option *ngIf="!loadingRefsets && refsets.length === 0" disabled>
                            No refsets available
                        </mat-option>
                    </mat-select>
                    <mat-spinner *ngIf="loadingRefsets" matSuffix [diameter]="20"></mat-spinner>
                    <mat-error *ngIf="form.get('ecl')?.hasError('required')">Refset selection is required</mat-error>
                </mat-form-field>

                <!-- Derivative Selection -->
                <mat-form-field *ngIf="eclInputMethod === 'derivative'">
                    <mat-label>Select Derivative</mat-label>
                    <mat-select (selectionChange)="onDerivativeSelectionChange($event.value)" [value]="selectedDerivativeCode" [disabled]="loadingDerivatives">
                        <mat-option *ngFor="let derivative of derivatives" [value]="derivative.code">
                            {{ derivative.display }} ({{ derivative.code }}){{ derivative.memberCount ? ' - ' + derivative.memberCount + ' members' : '' }}
                        </mat-option>
                        <mat-option *ngIf="!loadingDerivatives && derivatives.length === 0" disabled>
                            No derivatives available
                        </mat-option>
                    </mat-select>
                    <mat-spinner *ngIf="loadingDerivatives" matSuffix [diameter]="20"></mat-spinner>
                    <mat-error *ngIf="form.get('ecl')?.hasError('required')">Derivative selection is required</mat-error>
                </mat-form-field>

                <!-- Subtype Selection -->
                <div *ngIf="eclInputMethod === 'subtype'" class="subtype-selection">
                    <mat-label>Select Sub Type</mat-label>
                    <div *ngIf="!selectedEdition?.branchPath" class="error-message">
                        <mat-icon>error</mat-icon>
                        <span>Branch path not available. Please ensure an edition is selected.</span>
                    </div>
                    <app-autocomplete-binding
                        *ngIf="selectedEdition?.branchPath"
                        [binding]="{ecl: '<< 138875005', branchPath: selectedEdition.branchPath}"
                        [term]="selectedSubtype?.display || ''"
                        (selectionChange)="onSubtypeSelectionChange($event)">
                    </app-autocomplete-binding>
                </div>
            </form>
            <div>
                <button mat-flat-button (click)="mode = 'view'" *ngIf="!saving">Cancel</button>
                <button mat-flat-button color="accent" (click)="submit()" *ngIf="!saving" [disabled]="form.invalid">Create</button>
                <p *ngIf="saving" class="saving"><mat-spinner [diameter]="20"></mat-spinner>&nbsp;&nbsp;Creating set...</p>
            </div>
        </div>
    </div>
</div>