h4 {
    margin-top: 2rem;
}
.skeleton-cell {
    height: 20px;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 4px;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  @keyframes pulse {
    0% {
      background-color: #e0e0e0;
    }
    50% {
      background-color: #f0f0f0;
    }
    100% {
      background-color: #e0e0e0;
    }
  }

  .no-imports {
    font-weight: lighter;
    font-style: italic;
    margin-top: 2rem;
}

:host ::ng-deep .mat-paginator {
  font-size: 12px; /* Adjust the font size as needed */
}

:host ::ng-deep .mat-paginator .mat-paginator-range-label,
:host ::ng-deep .mat-paginator .mat-paginator-page-size-label,
:host ::ng-deep .mat-paginator .mat-select-trigger,
:host ::ng-deep .mat-paginator .mat-paginator-navigation button {
  font-size: 12px;
}
