<h4>Activity Log</h4>
<table mat-table [dataSource]="loading ? skeleton : activities">

    <!-- Created Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="loading" class="skeleton-cell"></div>
        <span *ngIf="!loading">{{ element.startDate | timeAgo }}</span>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="componentType">
      <th mat-header-cell *matHeaderCellDef> Component </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="loading" class="skeleton-cell"></div>
        <span *ngIf="!loading">{{ element.componentType }}</span>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="activityType">
      <th mat-header-cell *matHeaderCellDef> Activity </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="loading" class="skeleton-cell"></div>
        <span *ngIf="!loading">{{ element.activityType }}</span>
      </td>
    </ng-container>

    <!-- Records Column -->
    <ng-container matColumnDef="elapsed">
      <th mat-header-cell *matHeaderCellDef> Duration </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="loading" class="skeleton-cell"></div>
        <span *ngIf="!loading">
          <span *ngIf="element.endDate">
            {{ element.endDate - element.startDate | elapsed }}
          </span>
          <span *ngIf="!element.endDate && !element.error">
            <mat-spinner [diameter]="20"></mat-spinner>
          </span>
        </span>
      </td>
    </ng-container>

    <!-- Icon Column -->
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="loading" class="skeleton-cell"></div>
        <ng-container *ngIf="!loading">
          <!-- Icons based on status -->
           <span *ngIf="element.error"  class="flex-cont errors-icon">
              Activity failed <mat-icon class="info-icon" [matTooltip]="element.message">info</mat-icon>
           </span>
        </ng-container>
      </td>
    </ng-container>

    <!-- Table Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="totalItems"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="onPageChange($event)">
</mat-paginator>

<p *ngIf="!loading && activities?.length == 0" class="no-imports">No activity...</p>
