<h3 class="title">Edit Product Packaging Information</h3>
<br>
<form [formGroup]="packagingForm">
<div class="component-row">
    <div class="component-col align-right">
        <span class="details-field-name">Organization Name</span>
    </div>
    <div class="component-col">
        <span class="details-field-value">
            <mat-form-field>
                <input matInput formControlName="orgName">
                <span matSuffix *ngIf="loading">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </span>
                <mat-error *ngIf="!loading && packagingForm.controls['orgName'].hasError('required')">{{'orgName'}} is required</mat-error>
            </mat-form-field>
        </span>
    </div>
</div>
<div class="component-row">
    <div class="component-col align-right">
        <span class="details-field-name">Organization email adress</span>
    </div>
    <div class="component-col">
        <span class="details-field-value">
            <mat-form-field>
                <input matInput formControlName="orgContactDetails">
                <span matSuffix *ngIf="loading">
                    <mat-spinner [diameter]="20"></mat-spinner>
                  </span>
                <mat-error *ngIf="!loading && packagingForm.controls['orgContactDetails'].hasError('required')">
                    Organization email address is required
                </mat-error>
                <mat-error *ngIf="!loading && packagingForm.controls['orgContactDetails'].hasError('email')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>
        </span>
    </div>
</div>
<br>
<div class="button-box">
    <button mat-flat-button color="accent" (click)="submit()" *ngIf="!saving" [disabled]="packagingForm.invalid || packagingForm.pristine">
        Save Packaging Information
    </button>
    <p *ngIf="saving" class="saving"><mat-spinner [diameter]="20"></mat-spinner>&nbsp;&nbsp;Saving...</p>
</div>
</form>


