<div class="component-row">
    <div class="component-col">
        <div class="component-container">
            <p>Releases</p>
            <mat-list id="components-list">
                <mat-list-item *ngFor="let item of releases">
                    <span class="release-name">{{ item.name }}</span>
                    <span class="pill pill-green" *ngIf="item.type == 'Edition'">{{ item.type }}</span>
                    <span class="pill pill-blue" *ngIf="item.type == 'Extension'">{{ item.type }}</span>
                    <span class="muted">Created on {{ item.date }}</span>
                    <button mat-button color="accent" class="download">Download</button>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="component-col align-right">
        <div class="component-container">
            <p>Release actions</p>
            <button mat-flat-button color="accent">RUN CLASSIFICATION</button>
            <button mat-flat-button color="accent" disabled>RUN VALIDATION</button>
            <button mat-flat-button color="accent" disabled>PREVIEW IN THE BROWSER</button>
            <button mat-flat-button color="accent" disabled>COMPLETE RELEASE CYCLE</button>
        </div>
        <div class="component-container">
            <p>Utilities</p>
            <button mat-flat-button color="accent" (click)="exportSnapshot()">EXPORT PREVIEW RF2 SNAPSHOT</button>
        </div>
    </div>
</div>


