<nav id="sidebar" class="footer-margin">
    <div class="header row g-0">
        <h3 class="p-3 mb-0">Codesystems</h3>
        <h3 class="p-3 mb-0">- Subsets</h3>
        <h3 class="p-3 mb-0">- Maps</h3>
        <h3 class="p-3 mb-0">- Translations</h3>
        <h3 class="p-3 mb-0">Browser</h3>
        <h3 class="p-3 mb-0">Validation</h3>
        <h3 class="p-3 mb-0">Release</h3>
    </div>
    <!-- <ng-container *ngFor="let codesystem of codesystems?.items">
        <a class="py-2 px-3 d-block codesystem" href="#" (click)="setActiveCodesystem(codesystem)">{{codesystem.name}}</a>
    </ng-container> -->
</nav>
