<h4>Edition components</h4>
<div class="component-row">
    <div class="component-col">
        <div>
            <mat-list id="components-list">
                <mat-list-item *ngFor="let item of subsets" (click)="onClick(item, 'subset')" class="hoverable-item" matRipple
                [ngClass]="{ 'selected': item.conceptId === selectedArtifact?.conceptId }">
                    {{ item.fsn.term }} <span class="pill pill-green">Subset</span>
                </mat-list-item>
                <mat-list-item *ngFor="let item of maps" (click)="onClick(item, 'translation')" class="hoverable-item" matRipple
                [ngClass]="{ 'selected': item.conceptId === selectedArtifact?.conceptId }">
                    {{ item.fsn.term }} <span class="pill pill-yellow">Map</span>
                </mat-list-item>
                <mat-list-item *ngFor="let item of translations" (click)="onClick(item, 'map')" class="hoverable-item" matRipple
                [ngClass]="{ 'selected': item.conceptId === selectedArtifact?.conceptId }">
                    {{ item.fsn.term }} <span class="pill pill-blue">Translation</span>
                </mat-list-item>
                <mat-list-item *ngIf="loadingTranslations || loadingSubsets || loadingMaps"><mat-spinner [diameter]="20"></mat-spinner></mat-list-item>
            </mat-list>
            <button mat-flat-button color="primary" (click)="newSubsetMode = true" *ngIf="!loadingTranslations && !loadSubsets && !loadingMaps">New Subset</button>
        </div>
    </div>
    <div class="component-col">
        <div *ngIf="!newSubsetMode && selectedArtifact">
            <h3>
                {{ selectedArtifact?.fsn.term }}
                <span class="pill" [ngClass]="getArtifactClass(selectedArtifact?.type)">{{ selectedArtifact?.type | titlecase }}</span>
            </h3>
            <br><br>
            <div class="component-row">
                <div class="component-col align-right">
                    <span class="details-field-name">ConceptId</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">{{ selectedArtifact.conceptId }}</span>
                </div>
            </div>
            <div class="component-row">
                <div class="component-col align-right">
                    <span class="details-field-name">Fully Specified Name</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">{{ selectedArtifact.fsn.term }}</span>
                </div>
            </div>
            <div class="component-row">
                <div class="component-col align-right">
                    <span class="details-field-name">Preferred term</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">{{ selectedArtifact.pt.term }}</span>
                </div>
            </div>
            <div class="component-row">
                <div class="component-col align-right">
                    <span class="details-field-name">ModuleId</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">{{ selectedArtifact.moduleId }}</span>
                </div>
            </div>
            <div class="component-row">
                <div class="component-col align-right">
                    <span class="details-field-name">Active component</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">{{ selectedArtifact.active }}</span>
                </div>
            </div>
            <div class="component-row">
                <div class="component-col align-right">
                    <span class="details-field-name">Active member count</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">{{ selectedArtifact.activeMemberCount }}</span>
                </div>
            </div>
            <div class="component-row">
                <div class="component-col align-right">
                    <span class="details-field-name">Type</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">{{ selectedArtifact.type | titlecase }}</span>
                </div>
            </div>
        </div>
        <div *ngIf="newSubsetMode">
            <h4>New Subset</h4>
            <br><br>
            <form [formGroup]="form">
                <mat-form-field *ngFor="let controlName of formKeys">
                    <mat-label>{{controlName}}</mat-label>
                    <input matInput formControlName="{{controlName}}">
                    <button *ngIf="form.controls[controlName]['value']" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls[controlName].setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="form.controls[controlName]['hasError']('required')">{{controlName}} is required</mat-error>
                </mat-form-field>
            </form>
            <div>
                <button mat-flat-button (click)="newSubsetMode = false" *ngIf="!saving">Cancel</button>
                <button mat-flat-button color="accent" (click)="submit()" *ngIf="!saving">Create</button>
                <p *ngIf="saving" class="saving"><mat-spinner [diameter]="20"></mat-spinner>&nbsp;&nbsp;Creating subset...</p>
              </div>
        </div>
    </div>
</div>
