<h4>Edition components</h4>
<div class="component-row">
    <div class="component-col">
        <div>
            <mat-list id="components-list">
                <mat-list-item *ngFor="let item of subsets" (click)="onClick(item, 'subset')" class="hoverable-item" matRipple
                [ngClass]="{ 'selected': item.conceptId === selectedArtifact?.conceptId }">
                    {{ item.fsn.term }} <span class="pill pill-green">Subset</span>
                </mat-list-item>
                <mat-list-item *ngFor="let item of maps" (click)="onClick(item, 'map')" class="hoverable-item" matRipple
                [ngClass]="{ 'selected': item.conceptId === selectedArtifact?.conceptId }">
                    {{ item.fsn.term }} <span class="pill pill-yellow">Map</span>
                </mat-list-item>
                <mat-list-item *ngFor="let item of translations" (click)="onClick(item, 'translation')" class="hoverable-item" matRipple
                [ngClass]="{ 'selected': item.conceptId === selectedArtifact?.conceptId }">
                    {{ item.fsn.term }} <span class="pill pill-blue">Translation</span>
                </mat-list-item>
                <mat-list-item *ngIf="loadingTranslations || loadingSubsets || loadingMaps"><mat-spinner [diameter]="20"></mat-spinner></mat-list-item>
            </mat-list>
            <button mat-flat-button color="primary" (click)="newArtifactMode = true" *ngIf="!(loadingTranslations || loadingSubsets || loadingMaps || saving)">New Component</button>
        </div>
    </div>
    <div class="component-col">
        <div *ngIf="!newArtifactMode && selectedArtifact">
            <h5>
                {{ selectedArtifact?.fsn.term }}
                <span class="pill" [ngClass]="getArtifactClass(selectedArtifact?.type)">{{ selectedArtifact?.type | titlecase }}</span>
            </h5>
            <br><br>
            <div class="component-row">
                <div class="component-col align-right">
                    <span class="details-field-name">ConceptId</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">{{ selectedArtifact.conceptId }}</span>
                </div>
            </div>
            <div class="component-row">
                <div class="component-col align-right">
                    <span class="details-field-name">Fully Specified Name</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">{{ selectedArtifact.fsn.term }}</span>
                </div>
            </div>
            <div class="component-row">
                <div class="component-col align-right">
                    <span class="details-field-name">Preferred term</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">{{ selectedArtifact.pt.term }}</span>
                </div>
            </div>
            <div class="component-row">
                <div class="component-col align-right">
                    <span class="details-field-name">ModuleId</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">{{ selectedArtifact.moduleId }}</span>
                </div>
            </div>
            <div class="component-row">
                <div class="component-col align-right">
                    <span class="details-field-name">Active component</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">{{ selectedArtifact.active }}</span>
                </div>
            </div>
            <div class="component-row">
                <div class="component-col align-right">
                    <span class="details-field-name">Active member count</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">{{ selectedArtifact.activeMemberCount }}</span>
                </div>
            </div>
            <div class="component-row">
                <div class="component-col align-right">
                    <span class="details-field-name">Type</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">{{ selectedArtifact.type | titlecase }}</span>
                </div>
            </div>

            <h4>Import data to component</h4>

            <mat-form-field>
                <mat-label>File type</mat-label>
                <mat-select [(ngModel)]="selectedFileType">
                    <mat-option *ngFor="let type of getFileTypes(selectedArtifact.type)" [value]="type">{{type | camelToTitle}}</mat-option>
                </mat-select>
            </mat-form-field>
            
            
            <!-- Hidden file input -->
            <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">

            <!-- Container for choose file button and filename -->
            <div class="file-selection">
                <!-- Button that triggers the hidden file input -->
                <button mat-flat-button color="primary" (click)="fileInput.click()">Choose File</button>
                
                <!-- Display selected file's name with some left margin for spacing -->
                <span *ngIf="selectedFile" class="file-name">{{ selectedFile.name }}</span>
            </div>

            <!-- Upload button on a new line with some top margin for spacing -->
            <div class="upload-btn">
                <button mat-flat-button color="accent" (click)="uploadRefsetToolTranslation(selectedArtifact.conceptId, selectedArtifact.type, selectedFileType)" *ngIf="selectedFile">
                    Upload data
                </button>
            </div>
        </div>
        <div *ngIf="newArtifactMode">
            <h5>New Component</h5>
            <br><br>
            <form [formGroup]="form">
                <mat-form-field *ngFor="let controlName of formKeys">
                    <mat-label>{{controlName | camelToTitle}}</mat-label>

                    <!-- Input for other controls -->
                    <input matInput formControlName="{{controlName}}" *ngIf="controlName !== 'type'">
                    <button *ngIf="form.controls[controlName]['value'] && controlName !== 'type'" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls[controlName].setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>

                    <!-- Mat Select for 'type' control -->
                    <mat-select *ngIf="controlName === 'type'" formControlName="type">
                        <mat-option *ngFor="let type of artifactTypes" [value]="type">{{type | titlecase}}</mat-option>
                    </mat-select>
        

                    <mat-error *ngIf="form.controls[controlName]['hasError']('required')">{{controlName}} is required</mat-error>
                </mat-form-field>
            </form>
            <div>
                <button mat-flat-button (click)="newArtifactMode = false" *ngIf="!saving">Cancel</button>
                <button mat-flat-button color="accent" (click)="submit()" *ngIf="!saving">Create</button>
                <p *ngIf="saving" class="saving"><mat-spinner [diameter]="20"></mat-spinner>&nbsp;&nbsp;Creating component...</p>
            </div>
        </div>
    </div>
</div>
