.hoverable-item:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Light gray background on hover */
  cursor: pointer;
}

.component-row {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
max-height: calc(100vh - 190px);
}

.component-col {
flex: 1;
margin: 0 10px;
}

.component-col-left {
  flex: 2;
  margin: 0 10px;
}
.component-col-right {
  flex: 3;
  margin: 0 10px;
}

.selected {
background-color: rgba(147, 197, 231, 0.993);
}

#components-list {
max-height: calc(100vh - 240px);
overflow-y: auto;
margin-bottom: 2rem;
}

#details {
max-height: calc(100vh - 240px);
overflow-y: auto;
}

.align-right {
text-align: right;
}

.details-field-name {
font-size: 1.5rem;
}

.details-field-value{
font-size: 1.5rem;
font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

mat-form-field {
  width: 60%;
  margin-bottom: 16px;
}

.saving {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.pill {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px; // Gives it the "pill" shape
  font-size: 0.9rem;   // Adjust as needed
  text-align: center;
  margin-right: 5px;   // Spacing if next to list items
  vertical-align: middle;
  font-weight: bold;

  &-green {
    background-color: #4CAF50; // Adjust to your preferred green
    color: #FFFFFF;            // Adjust text color if needed
  }

  &-yellow {
    background-color: #FFEB3B; // Adjust to your preferred yellow
    color: #333333;            // Adjust text color if needed
  }

  &-blue {
    background-color: #2196F3; // Adjust to your preferred blue
    color: #FFFFFF;            // Adjust text color if needed
  }

  &-purple {
    background-color: #f321f3; // Adjust to your preferred blue
    color: #FFFFFF;            // Adjust text color if needed
  }
}

h4 {
  margin-top: 2rem;
}

mat-list-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); // Change the rgba values for different shades
}

.home-message {
  font-size: 2rem;
  font-weight: lighter;
  font-style: italic;
}

.artifact-info {
  font-style: italic;
  font-weight: lighter;
  margin-left: 1rem;
}

/* Flex container */
.title-container {
  display: flex;
  justify-content: space-between; /* This will space out the children */
}

/* Left column */
.title-left-column {
  align-self: flex-start; /* Aligns to the start of the flex container */
  flex: 0 0 auto; /* This ensures the column does not grow or shrink */
}

/* Right column */
.title-right-column {
  align-self: flex-end; /* Aligns to the end of the flex container */
  flex: 0 0 auto; /* This ensures the column does not grow or shrink */
}

.skeleton-loader {
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  background-color: transparent; /* Set background to transparent */
}

.skeleton-text {
  height: 20px;
  margin: 10px 0;
  background-color: #eee;
  border-radius: 10px; /* Rounded corners for each row */
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% { background-color: #eee; }
  50% { background-color: #ddd; }
  100% { background-color: #eee; }
}

.skeleton-button {
  display: inline-block;
  height: 40px; /* Approximate height of your button */
  width: 100px; /* Approximate width of your button */
  border-radius: 20px; /* Fully rounded edges */
  background-color: #eee;
  animation: pulse 1.5s infinite ease-in-out;
  margin: 10px 0;
}

.waiting {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.header-container {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: left; /* Centers the content horizontally */
  gap: 8px; /* Adjusts the space between the text and spinner */
  margin-top: 2rem;
  margin-left: 4rem;
}

.header-container h4 {
  margin: 0; /* Removes default margin to allow for better centering */
}

.status-message {
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  margin: 0px;
}

.edit-blocked-message {
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  margin: 0px;
  color: rgb(149, 27, 27);
  margin-top: 6rem;
}