.hoverable-item:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Light gray background on hover */
  cursor: pointer;
}

.component-row {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
}

.component-col {
flex: 1;
margin: 0 10px;
}

.selected {
background-color: rgba(147, 197, 231, 0.993);
}

#components-list {
max-height: calc(100vh - 240px);
overflow-y: auto;
margin-bottom: 2rem;
}

#details {
max-height: calc(100vh - 240px);
overflow-y: auto;
}

.align-right {
text-align: right;
}

.details-field-name {
font-size: 1.5rem;
}

.details-field-value{
font-size: 1.5rem;
font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

mat-form-field {
  width: 60%;
  margin-bottom: 16px;
}

.saving {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.pill {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px; // Gives it the "pill" shape
  font-size: 0.9rem;   // Adjust as needed
  text-align: center;
  margin-right: 5px;   // Spacing if next to list items
  vertical-align: middle;
  font-weight: bold;

  &-green {
    background-color: #4CAF50; // Adjust to your preferred green
    color: #FFFFFF;            // Adjust text color if needed
  }

  &-yellow {
    background-color: #FFEB3B; // Adjust to your preferred yellow
    color: #333333;            // Adjust text color if needed
  }

  &-blue {
    background-color: #2196F3; // Adjust to your preferred blue
    color: #FFFFFF;            // Adjust text color if needed
  }
}

h4 {
  margin-top: 2rem;
}

mat-list-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); // Change the rgba values for different shades
}

.home-message {
  font-size: 2rem;
  font-weight: lighter;
  font-style: italic;
}