@import 'src/variables.scss';

div.main-view {
    margin: 2rem;

    button.confirm {
        position: fixed;
        right: 1rem;
        width: 10rem;

        &.save {
            bottom: 5rem;
            background-color: $fruit-salad;
        }

        &.discard {
            bottom: 9rem;
            background-color: $slate-grey;
        }
    }
}

.tab-icon {
    color: cornflowerblue;
    margin-right: 1rem;
}

.spacer {
    width: 20px;
}

.drawer-container {
    position: absolute;
    top: 5rem;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  mat-nav-list {
    width: 60px;
    overflow: hidden;
    transition: width 0.3s;
  
    span {
      opacity: 0;
      display: none;
    }
  }
  
  mat-drawer:hover {
    mat-nav-list {
      width: 180px;
      span {
        display: inline-block;
        opacity: 1;
        margin: auto 10px;
        transition: all 0.1s ease-in 0.2s;
      }
    }
  }

  .selected-menu-item {
    /* Your styling for selected menu item, e.g., background color, font style */
    background-color: rgb(124, 192, 224);
    font-weight: bold;
}

