<div class="component-row">
    <div class="component-col">
        <div *ngIf="!newEditionMode && selectedEdition">
            <h3>Details of: {{ selectedEdition?.name }}</h3>
            <br><br>
            <div class="component-row" *ngFor="let field of editionFields">
                <div class="component-col align-right">
                    <span class="details-field-name">{{ field | camelToTitle }}</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">{{ selectedEdition[field] }}</span>
                    <mat-spinner [diameter]="20" *ngIf="!selectedEdition[field] && loading"></mat-spinner>
                </div>
            </div>
            <div class="component-row">
                <div class="component-col align-right">
                    <span class="details-field-name">Depends on</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">
                        <mat-spinner [diameter]="20" *ngIf="!parentEdition"></mat-spinner>
                        <span *ngIf="parentEdition">{{ parentEdition?.name }}, {{ selectedEdition.dependantVersionEffectiveTime }}</span>
                    </span>
                </div>
            </div>
            <div class="component-row">
                <div class="component-col align-right">
                    <span class="details-field-name">Upgrade to a newer dependant release</span>
                </div>
                <div class="component-col">
                    <div *ngIf="(loading || loadingUpgrades)">
                        <mat-spinner [diameter]="20"></mat-spinner>
                    </div>
                    <div *ngIf="!loading && !loadingUpgrades && availableUpgrades.length == 0">
                        No newer versions available
                    </div>
                    <div *ngIf="availableUpgrades.length > 0">
                        <mat-form-field class="upgrade-select">
                            <mat-label>Available Upgrades</mat-label>
                            <mat-select [value]="selectedUpgradeEdition" (selectionChange)="onSelectionChange($event)">
                              <mat-option *ngFor="let upgrade of availableUpgrades" [value]="upgrade" [disabled]="activeStage != 'Authoring'">
                                {{upgrade.effectiveDate}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <span *ngIf="activeStage && activeStage != 'Authoring'" class="message">Upgrade is only possible in the Editing Stage</span>
                        <button class="action-button" mat-flat-button color="primary" (click)="upgradeEdition()" *ngIf="selectedUpgradeEdition">
                            Upgrade to {{selectedUpgradeEdition.effectiveDate}}
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <div class="button-box">
                <button mat-flat-button color="warn" (click)="deleteEdition(selectedEdition)" *ngIf="!deleting && !loading && isAdmin()">Delete Edition</button>
                <button mat-flat-button color="primary" (click)="newEditionMode = true" *ngIf="!loading && isAdmin()">New Edition</button>
                <p *ngIf="deleting" class="deleting"><mat-spinner [diameter]="20"></mat-spinner>&nbsp;&nbsp;Deleting Edition...</p>
            </div>
            <app-product-packaging [edition]="selectedEdition" class="align-right"></app-product-packaging>
        </div>
        <div *ngIf="newEditionMode">
            <app-new-edition (closePanel)="newEditionMode = false" (editionSaved)="loadEditions()"></app-new-edition>
        </div>
    </div>
</div>
<br>
