<div class="component-row">
    <div class="component-col">
        <div>
            <mat-list id="editions-list">
                <mat-list-item *ngIf="loading"><mat-spinner [diameter]="20"></mat-spinner></mat-list-item>
                <mat-list-item *ngFor="let edition of editions" (click)="onEditionClick(edition)" class="hoverable-item" matRipple 
                [ngClass]="{ 'selected': edition.name === selectedEdition?.name }">
                    {{ edition.name }}
                </mat-list-item>
            </mat-list>
            <button mat-flat-button color="primary" (click)="newEditionMode = true" *ngIf="!loading">New Edition</button>
        </div>
    </div>
    <div class="component-col" id="details">
        <div *ngIf="!newEditionMode && selectedEdition">
            <h3>Details of: {{ selectedEdition?.name }}</h3>
            <br><br>
            <div class="component-row" *ngFor="let field of editionFields">
                <div class="component-col align-right">
                    <span class="details-field-name">{{ field | camelToTitle }}</span>
                </div>
                <div class="component-col">
                    <span class="details-field-value">{{ selectedEdition[field] }}</span>
                </div>
            </div>
        </div>
        <div *ngIf="newEditionMode">
            <app-new-edition (closePanel)="newEditionMode = false" (editionSaved)="loadEditions()"></app-new-edition>
        </div>
    </div>
</div>
<br>
