<h4>How to edit this artifact?</h4>
<br>
<p>Select source:</p>
<div class="row">
        <mat-radio-group [(ngModel)]="selectedFileType">
            <mat-radio-button *ngFor="let type of filteredFileTypes" [value]="type.value">{{ type.viewValue }}</mat-radio-button>
        </mat-radio-group>
</div>


<div *ngIf="selectedFileType == 'conceptsSpreadsheet'">
    <div class="step-row">
        <span class="step-number">1</span>
        Download existing concepts as a spreadsheet
        <button mat-flat-button color="primary" id="downloadConceptsSpreadsheet" (click)="downloadConceptsSpreadsheet()">
            <span>Download</span>
        </button>
    </div>
    <div class="step-row">
        <span class="step-number">2</span>
        Edit concepts details in the spreadsheet
    </div>
    <div class="step-row">
        <span class="step-number">3</span>
        Upload a new version of the spreadsheet
        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
        <div class="file-selection">
            <!-- Button that triggers the hidden file input -->
            <button mat-flat-button color="primary" (click)="fileInput.click()">Choose File</button>
            
            <!-- Display selected file's name with some left margin for spacing -->
            <span *ngIf="selectedFile" class="file-name">{{ selectedFile.name }}</span>
        </div>
        <div class="upload-btn">
            <button mat-flat-button color="accent" (click)="uploadFile(artifact.conceptId, artifact.type, selectedFileType)" *ngIf="selectedFile">
                Upload data
            </button>
        </div>
    </div>
</div>

<div *ngIf="selectedFileType == 'refsetToolTranslation'">
    <div class="step-row">
        <span class="step-number">1</span>
        Edit translations in the Refset & Translation Tool
        <a mat-flat-button color="primary" href="https://refset.ihtsdotools.org/" target="_blank">Open Refset & Translation Tool</a>
    </div>
    <div class="step-row">
        <span class="step-number">2</span>
        Export the translation from Refset & Translation Tool as a zip file
    </div>
    <div class="step-row">
        <span class="step-number">3</span>
        Upload a new version of the exported package as a zip file
        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
        <div class="file-selection">
            <!-- Button that triggers the hidden file input -->
            <button mat-flat-button color="primary" (click)="fileInput.click()">Choose File</button>
            
            <!-- Display selected file's name with some left margin for spacing -->
            <span *ngIf="selectedFile" class="file-name">{{ selectedFile.name }}</span>
        </div>
        <div class="upload-btn">
            <button mat-flat-button color="accent" (click)="uploadFile(artifact.conceptId, artifact.type, selectedFileType)" *ngIf="selectedFile">
                Upload data
            </button>
        </div>
    </div>
</div>

<div *ngIf="selectedFileType == 'weblateTranslation'">
    <div class="step-row">
        <span class="step-number">1</span>
        Edit translations in Weblate
        <a mat-flat-button color="primary" href="https://translate.snomedtools.org" target="_blank">Open Weblate</a>
    </div>
    <div class="step-row">
        <span class="step-number">2</span>
        Download translation from Weblate
    </div>
    <div class="step-row">
        <span class="step-number">3</span>
        Upload the exported translation
        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
        <div class="file-selection">
            <!-- Button that triggers the hidden file input -->
            <button mat-flat-button color="primary" (click)="fileInput.click()">Choose File</button>
            
            <!-- Display selected file's name with some left margin for spacing -->
            <span *ngIf="selectedFile" class="file-name">{{ selectedFile.name }}</span>
        </div>
        <div class="upload-btn">
            <button mat-flat-button color="accent" (click)="uploadFile(artifact.conceptId, artifact.type, selectedFileType)" *ngIf="selectedFile">
                Upload data
            </button>
        </div>
    </div>
</div>

<div *ngIf="selectedFileType == 'mapSpreadsheet'">
    <div class="step-row">
        <span class="step-number">1</span>
        Edit maps in Snap2Snomed
        <a mat-flat-button color="primary" href="https://snap.snomedtools.org/" target="_blank">Open Snap2Snomed</a>
    </div>
    <div class="step-row">
        <span class="step-number">2</span>
        Export a map spreadsheet file (xlsx) from Snap2Snomed
        <button mat-icon-button color="primary" (click)="toggleMapInfo()" matTooltip="How to export?">
            <mat-icon>info</mat-icon>
        </button>
    </div>
    <div id="map-info" [@expandCollapse]="showMapInfo" [style.display]="showMapInfo ? 'block' : 'none'">
        <div class="step-row">
            <span></span><img src="/assets/export.jpeg" [height]="250">
        </div>
        <div class="step-row">
            <span></span><b>Note: only rows marked with a 'mapped' status will be included in the import process.</b>
        </div>
    </div>
    <div class="step-row">
        <span class="step-number">3</span>
        Upload the map spreadsheet file
        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
        <div class="file-selection">
            <!-- Button that triggers the hidden file input -->
            <button mat-flat-button color="primary" (click)="fileInput.click()">Choose File</button>
            
            <!-- Display selected file's name with some left margin for spacing -->
            <span *ngIf="selectedFile" class="file-name">{{ selectedFile.name }}</span>
        </div>
        <div class="upload-btn">
            <button mat-flat-button color="accent" (click)="uploadFile(artifact.conceptId, artifact.type, selectedFileType)" *ngIf="selectedFile">
                Upload data
            </button>
        </div>
    </div>
</div>

<div *ngIf="selectedFileType == 'refsetSpreadsheet'">
    <div class="step-row">
        <span class="step-number">1</span>
        Download spreadsheet with current content in the Refset
        <button mat-flat-button color="primary"  (click)="downloadRefsetsSpreadsheet()">
            <span>Download</span>
        </button>
    </div>
    <div class="step-row">
        <span class="step-number">2</span>
        Edit refset content in Spreadsheet
    </div>
    <div class="step-row">
        <span class="step-number">3</span>
        Upload the new version of the Spreadsheet
        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
        <div class="file-selection">
            <!-- Button that triggers the hidden file input -->
            <button mat-flat-button color="primary" (click)="fileInput.click()">Choose File</button>
            
            <!-- Display selected file's name with some left margin for spacing -->
            <span *ngIf="selectedFile" class="file-name">{{ selectedFile.name }}</span>
        </div>
        <div class="upload-btn">
            <button mat-flat-button color="accent" (click)="uploadFile(artifact.conceptId, artifact.type, selectedFileType)" *ngIf="selectedFile">
                Upload data
            </button>
        </div>
    </div>
</div>

<div *ngIf="selectedFileType == 'refsetToolSubset'">
    <div class="step-row">
        <span class="step-number">1</span>
        Edit the refset in the Refset & Translation Tool
        <a mat-flat-button color="primary" href="https://refset.ihtsdotools.org/" target="_blank">Open Refset & Translation Tool</a>
    </div>
    <div class="step-row">
        <span class="step-number">2</span>
        Export the refset from Refset & Translation Tool as a zip file
    </div>
    <div class="step-row">
        <span class="step-number">3</span>
        Upload a new version of the exported package as a zip file
        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
        <div class="file-selection">
            <!-- Button that triggers the hidden file input -->
            <button mat-flat-button color="primary" (click)="fileInput.click()">Choose File</button>
            
            <!-- Display selected file's name with some left margin for spacing -->
            <span *ngIf="selectedFile" class="file-name">{{ selectedFile.name }}</span>
        </div>
        <div class="upload-btn">
            <button mat-flat-button color="accent" (click)="uploadFile(artifact.conceptId, artifact.type, selectedFileType)" *ngIf="selectedFile">
                Upload data
            </button>
        </div>
    </div>
</div>

<div class="row">
    <mat-form-field *ngIf="selectedFileType == 'weblateTranslation'">
        <mat-label>Language Code</mat-label>
        <input matInput placeholder="es, da, nl, etc." value="" [(ngModel)]="selectedLanguageCode">
    </mat-form-field>
</div>


<table mat-table [dataSource]="jobs">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell *matCellDef="let element"> {{element.created | timeAgo}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="display">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.display}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Records </th>
      <td mat-cell *matCellDef="let element"> {{element.recordsTotal}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> 
            <mat-icon 
                *ngIf="element.status == 'COMPLETED'" 
                [ngStyle]="{'color': 'green'}">
                check_circle
            </mat-icon>
            
            <mat-icon 
                *ngIf="element.status == 'FAILED'" 
                [ngStyle]="{'color': 'red'}">
                error
            </mat-icon>
            
            <mat-spinner [diameter]="20" *ngIf="element.status == 'IN_PROGRESS'"></mat-spinner>
            
            <mat-icon 
                *ngIf="element.status == 'QUEUED'" 
                [ngStyle]="{'color': 'blue'}">
                hourglass_empty
            </mat-icon>
            
            <mat-icon 
                *ngIf="element.status == 'CANCELLED'" 
                [ngStyle]="{'color': 'grey'}">
                cancel
            </mat-icon>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-spinner [diameter]="20" *ngIf="loading" class="loading-spinner"></mat-spinner>
<p *ngIf="!loading && jobs.length == 0" class="no-imports">No data imports were requested in this component yet</p>