h4 {
    margin-top: 2rem;
}

.loading-spinner {
    margin: 2rem auto;
    display: block;
}

.no-imports {
    font-weight: lighter;
    font-style: italic;
    margin-top: 2rem;
}

.file-selection {
    display: flex;
    align-items: center;
}
  
.file-name {
    margin-left: 10px; /* Adjust as needed */
    /* add rounded borser */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
  
.upload-btn {
    margin-top: 10px; /* Adjust as needed */
}

.row {
    display: flex;
    align-items: center; /* this will vertically align the fields if they have different heights */
    justify-content: space-between; /* this will ensure that they are spaced out evenly */
}


mat-form-field {
    flex: 1; /* this will make each form field take up an equal amount of space */
    margin-right: 20px; /* add some spacing between them; you might not need this for the last form field */
}


mat-form-field:last-child {
    margin-right: 0;
}

.step-row {
    display: flex;
    align-items: center; /* this will vertically align the fields if they have different heights */
    justify-content: flex-start;
    margin: 2rem;
    gap: 2rem;
    // font-size: 22px;
}

.step-number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    min-width: 30px; /* Ensure minimum width */
    min-height: 30px; /* Ensure minimum height */
    background-color: rgb(72, 72, 220);
    color: white;
    border-radius: 50%;
    font-family: 'Courier New', monospace;
    font-size: larger;
    font-weight: bold;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Keeps content within the bounds */
  }
  
  .note {
    font-size: 0.8rem;
    font-style: italic;
    margin-left: 2rem;
  }

  .skeleton-cell {
    height: 20px;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 4px;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  @keyframes pulse {
    0% {
      background-color: #e0e0e0;
    }
    50% {
      background-color: #f0f0f0;
    }
    100% {
      background-color: #e0e0e0;
    }
  }
  
  
