:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

mat-form-field {
  width: 60%;
  margin-bottom: 16px;
}