<p>Create New Edition</p>
<form [formGroup]="form">
    <mat-form-field *ngFor="let controlName of formKeys">
        <mat-label>{{controlName}}</mat-label>
        <input matInput formControlName="{{controlName}}">
        <button *ngIf="form.controls[controlName]['value']" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls[controlName].setValue('')">
            <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form.controls[controlName]['hasError']('required')">{{controlName}} is required</mat-error>
    </mat-form-field>
</form>
<div>
  <button mat-flat-button (click)="closePanelEvent()">Cancel</button>
  <button mat-flat-button color="accent" (click)="submit()">
    <span *ngIf="!saving">Create</span>
    <mat-spinner [diameter]="20" *ngIf="saving"></mat-spinner>
  </button>
</div>