.paginator-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Adjust as needed */
}

.skeleton-loader {
  height: 16px;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 4px;
  background-image: linear-gradient(
    to right,
    #e0e0e0 0%,
    #f5f5f5 50%,
    #e0e0e0 100%
  );
  background-size: 200% 100%;
  animation: shimmer 0.5s infinite linear; /* Speed up the animation */
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

  